@import "../SassVars";

.content {
  .header {
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 0.5em;
  }
  p {
    @include for_breakpoint(desktop tablet) {
      line-height: 1.5;
      font-size: 1.1rem;
      margin-left: 7em;
      margin-right: 3em;
      margin-bottom: 8em;
    }
    @include for_breakpoint(mobile) {
      line-height: 1.5;
      font-size: 1.1rem;
      margin-left: 3em;
      margin-right: 3em;
      margin-bottom: 8em;
    }
  }
  &.contact {
    background: rgb(177, 237, 232);
    background: linear-gradient(
      90deg,
      rgba(177, 237, 232, 1) 0%,
      rgba(195, 233, 222, 0.700717787114846) 0%,
      rgba(88, 171, 164, 0) 96%
    );
  }
}
.footer {
  background-color: black;
  color: white;
  font-size: 0.75rem;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
  position: fixed;
  bottom: 0;
}
